[Unit]
Description=noVNC server
After=network.target tigervnc.service

[Service]
Type=simple
ExecStart=/opt/noVNC/utils/novnc_proxy --listen 8080 --vnc 127.0.0.1:5901
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
